*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'Josefin';
    src: url("Josefin_Sans/JosefinSans-VariableFont_wght.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container2{
    display: flex;
    justify-content: space-around;
}
.message{
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 2em;
    margin-top: 5em;
}
.header,.footer{
    height: 10vh;
    display: flex;
}
.buttons{
    display: flex;
    justify-content: space-between;
}
h1{
    align-self: flex-start;
    margin-top: 0.75em;
    font-family: 'Josefin';
}
h2{
    text-align: center;
    font-size: 30px;
    font-family: 'Josefin';
}
h3{
    align-self: flex-end;
    margin-bottom: 1.5em;
    font-family: 'Josefin';
}
.main{
    display: flex;
    align-items: center;
    height: 80vh;
}
.formElements{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
    color: blue;
    font-family: 'Josefin';
}
form{
    border: 3px lightblue solid;
    border-radius: 30px;
    background-color: lightblue;
    padding: 1em;
    display: flex;
    flex-direction: column;
    height: 30em;
    width: 30em;
    justify-content: space-evenly;
}
label{
    text-align: left;
    font-weight: bold;
    font-size: 1.25em;
    font-family: 'Josefin';
}
input{
    text-align: left;
    padding-left: 0.5em;
    height: 2em;
    width: 15em;
    border: 2px solid white;
    border-radius: 20px;
}
input:focus{
    outline: none;
}
#male,#female{
    width: 2em;
    height: 1em;
}
#submit{
    padding: 0.1em;
    border-radius: 15px;
    border: 2px purple solid;
    background-color: purple;
    color: white;
    font-weight: bold;
    width: 10em;
    font-size: large;
    align-self: center;
    text-align: center;
    height: 3em;
    font-family: 'Josefin';
    transition: all ease 0.4s;
}
#reset{
     padding: 0.1em;
    border-radius: 15px;
    border: 2px purple solid;
    background-color: purple;
    color: white;
    font-weight: bold;
    width: 10em;
    font-size: large;
    align-self: center;
    text-align: center;
    height: 3em;
    font-family: 'Josefin';
    transition: all ease 0.4s;
}
#goBack{
    margin-top: 1em;
    font-size: larger;
}
#submit:hover{
    box-shadow: 8px 8px 8px rgba(0,0,0,0.4);
}
#reset:hover{
    box-shadow: 8px 8px 8px rgba(0,0,0,0.4);
}
button{
    border: none;
    background-color: lightblue;
}